html {
  font-size: 20px;
  color: #333;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body {
  height: 100%;
  background-color: #fce043;
  line-height: 1.3;
}

a {
  color: #135abe;
  text-decoration: none;
  font-weight: 500;
}

b {
  font-weight: 500;
  color: black;
}

#main {
  padding-bottom: env(safe-area-inset-bottom);
  height: 100%;
}

.Main {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.Row {
  padding: 1em;
}

.Header {
  background-color: #fce043;
  background-image: linear-gradient(310deg, #fb7ba2 11%, #fce043 88%);
}

.Main__routeHolder {
  background-color: #e9ecf2;
  flex: 1 0 auto;

  box-shadow: inset 0 -30px 50px -50px #333, inset -30px 0 50px -50px #7c8db1,
    inset 0 30px 50px -50px #333, inset 30px 0 50px -50px #7c8db1;
}

.Footer {
  background-color: #fb7bce;
  background-image: linear-gradient(50deg, #fb7bce 11%, #efe93e 88%);
  flex-shrink: 0;
}

select {
  height: 40px;
  font-size: 20px;
  width: 200px;
  border-radius: 8px;
}

.PreviousButton {
  font-size: 20px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #cedaf2;
  border-radius: 6px;
}

.DatePicker {
  margin-bottom: 2em;
}

.DatePicker__field {
  margin-bottom: 0.5em;
}

.DatePicker__select {
  border: 1px solid #99d6d4;
}

.DatePicker__year {
  background-color: #faebeb;
}

.DatePicker__month {
  background-color: #e3f8e3;
}

.DatePicker__day {
  background-color: #f5f8e3;
}

.DatePicker__day[disabled] {
  opacity: 0.8;
}

.Anniversaries {
  text-align: left;
}

.AnniversaryList {
  padding: 0;
  list-style: none;
  margin-left: -0.15em;
}

.Menu {
  list-style: none;
}

li {
  margin-bottom: 0.5em;
}

.AnniversaryItem__emoji {
  /* font-size: 120%; */
  margin-right: 0.15em;
  display: inline-block;
  width: 1.5em;
  text-align: center;
  position: relative;
  top: 0.06em;
}

.AnniversaryItem__sentence {
}
